<div class="row mt">
  <div class="col-md-12">
      <div class="content-panel">
          <table class="table table-striped table-advance table-hover">
    	  	  <h4><i class="fa fa-angle-right"></i> Habits</h4>
    	  	  <hr>
              <thead>
              <tr>
                  <th><i class="fa li_cup"></i> Habit</th>
                  <th><i class="fa fa-calendar-o"></i> Date</th>
                  <th><i class=" fa fa-tree"></i> Status</th>
                  <th><i class=" fa fa-check"></i> Did It?</th>
                  <th></th>
                  <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-if="user.habits.length == 0">
                <td colspan="4">
                  <p>You do not have any habits yet.</p>
                </td>
              </tr>

              <tr ng-if="user.habits.length > 0" ng-repeat="habit in user.habits">

                  <td ui-sref="user.show.habit({ id: {{ habit.id }} })">
                    <a href=''>{{ habit.name}}</a></td>
                  <td ui-sref="user.show.habit({ id: {{ habit.id }} })">
                    <p>{{ habit.created_at | date: 'mediumDate' }}</p></td>
                  <td ui-sref="user.show.habit({ id: {{ habit.id }} })">
                    <span ng-if="habit.activity" class="label label-success label-mini">Plan of Action</span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-xs btn-theme02" ng-click="user.increment(habit)">
                      <i class="fa fa-thumbs-up"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-theme02" ng-click="user.decrement(habit)">
                      <i class="fa fa-thumbs-down"></i>
                    </button>
                  </td>
                  <td>{{ habit.likes }}</td>
                  <td ng-if="habit.complete == false">
                      <button ui-sref="user.edit.habit({ id:{{ habit.id }} })" class="btn btn-theme btn-xs"><i class="fa fa-pencil"></i></button>
                      <button ng-click="user.delete(habit)" class="btn btn-theme04 btn-xs"><i class="fa fa-trash-o "></i></button>
                  </td>

                  <td ng-if="habit.complete" ui-sref="user.show.habit({ id: {{ habit.id }} })">
                    <span class="label label-success label-mini">COMPLETE</span>
                  </td>
              </tr>


              </tbody>
          </table>
      </div><!-- /content-panel -->
  </div><!-- /col-md-12 -->
</div><!-- /row -->
