<pre>This is the EDIT habits view.</pre>

{{ habit }}

<form>
  Habit Name: <input type="text" ng-model="habit.name" /><br />
  Complete?: <input type="checkbox" ng-model="habit.complete" /><br />

  Cue: <input type="text" ng-model="habit.cue_attributes.name"/><br />
  <label for="cueType"> Cue Type: </label><br>
  <select name="cueTypet" ng-model="habit.cue_attributes.nature">
    <option value="Location">Location</option>
    <option value="Time">Time</option>
    <option value="People">People</option>
    <option value="Emotion">Emotion</option>
    <option value="Activity">Activity</option>
  </select><br>

  What do you crave? <input type="text" ng-model="habit.reward_attributes.craving" /><br />


  <input type="submit" ng-click="submit(habit)" value="Save" />
</form>
<pre>habit = {{habit | json}}</pre>
