<pre>This is the new habits view.</pre>
<div ng-if="!newHabit">
  <form>

    <label for="habitName">Habit Name:</label><br />
    <input name="habitName" type="text" ng-model="habit.name" /><br /><br />

    <input type="hidden" ng-model="habit.user_id" />

    <label for="cueName">Cue: </label><br />
    <input name="cueName" type="text" ng-model="habit.cue_attributes.name" placeholder="Search or Create..."/><br /><br />

    <label for="cueType">Select Type: </label>
    <select name="cueType" ng-model="habit.cue_attributes.nature" ng-init="habit.cue_attributes.nature='Location'">
      <option value="Location">Location</option>
      <option value="Time">Time</option>
      <option value="People">People</option>
      <option value="Emotion">Emotion</option>
      <option value="Activity">Activity</option>
    </select><br /><br />

    <table id="searchCues" ng-if="habit.cue_attributes.name">
      <tr><th>Name</th><th>Type</th></tr>
      <tr ng-repeat="cue in cues | filter:habit.cue_attributes" ng-show="$index < 10" ng-click="selectCue(cue)">
        <td>{{cue.name}}</td>
        <td>{{cue.nature}}</td>
      </tr>
    </table><br /><br />

    <label for="reward">What do you hope to get out of this?</label><br />
    <input name="reward" type="text" ng-model="habit.reward_attributes.craving" placeholder="Search or Create..."/><br /><br />

    <table id="searchRewards" ng-if="habit.reward_attributes.craving">
      <tr ng-repeat="reward in rewards | filter:habit.reward_attributes" ng-show="$index < 10" ng-click="selectReward(reward)">
        <td>{{reward.craving}}</td>
      </tr>
    </table><br />

    <input type="submit" ng-click="submit(habit)" value="Save" />

  </form>
  <!-- <pre>habit = {{habit | json}}</pre> -->
</div>

<div ng-if="newHabit">
  <!-- This needs to be the habit component here. -->
  {{ newHabit }}
</div>


<!-- <h4>Activities</h4>
<div ng-repeat="activity in activities">
  {{ activity.description }}
</div> -->
