<h3>Habit Info:</h3>
<ul>
  <li>Complete? {{  user.habit.complete }}</li>
  <li>Name: {{  user.habit.name }}</li>
  <li>Cue: {{  user.habit.cue.name }}</li>
  <li>Cue Type: {{  user.habit.cue.nature }}</li>
  <li>Reward: {{  user.habit.reward.craving }}</li>
  <li ng-if="validActivity">Activity: {{  user.habit.activity.description }}</li>
  <li>Created: {{ user.habit.created_at | date : mediumDate }}</li>
</ul>
<h3>Habit Experiments:</h3>
<ul ng-repeat="experiment in user.habit.experiments">
  <li>Substitute: {{ experiment.substitute_id }}</li>
  <li>Successful? {{ experiment.successful }}</li>
</ul>

<h4 ng-if="!user.habit.complete"><a ui-sref="user.edit.habit({ id:{{ user.habit.id }} })">Edit this habit.</a></h4>
<h4 ng-if="!user.habit.complete"><a href="" ng-click="user.delete(user.habit)">Delete this habit.</a></h4>
