<hb-habit-panel habit="user.habit"></hb-habit-panel>
<hb-plan-panel habit="user.habit" ng-if="user.validActivity"></hb-plan-panel>
  
<h3>Habit Experiments:</h3>
<ul ng-repeat="experiment in user.habit.experiments">
  <li>Substitute: {{ experiment.substitute_id }}</li>
  <li>Successful? {{ experiment.successful }}</li>
</ul>

<h4 ng-if="!user.habit.complete"><a ui-sref="user.edit.habit({ id:{{ user.habit.id }} })">Edit this habit.</a></h4>
<h4 ng-if="!user.habit.complete"><a href="" ng-click="user.delete(user.habit)">Delete this habit.</a></h4>
