<pre>This is the SHOW habits view.</pre>
<h3>Habit Info:</h3>
<ul>
  <li>Complete? {{  habit.complete }}</li>
  <li>Name: {{  habit.name }}</li>
  <li>Cue: {{  habit.cue.name }}</li>
  <li>Cue Type: {{  habit.cue.nature }}</li>
  <li>Reward: {{  habit.reward.craving }}</li>
  <li ng-if="habit.activity">Activity: {{  habit.activity.description }}</li>
  <li>Created: {{ habit.created_at | date : mediumDate }}</li>
</ul>
<h3>Habit Experiments:</h3>
<ul ng-repeat="experiment in habit.experiments">
  <li>Experiement #{{ $index + 1 }}</li>
  <li>Substitute: {{ experiment.substitute_id }}</li>
  <li>Successful? {{ experiment.successful }}</li>
</ul>

<h4 ng-if="!habit.complete"><a ui-sref="user.edit.habit({ id:{{ habit.id }} })">Edit this habit.</a></h4>
<h4 ng-if="!habit.complete"><a href="" ng-click="delete(habit.id)">Delete this habit.</a></h4>
